
.firework {
    position: fixed;
    background-image: url('../img/star.png');
    width: 30px;
    height: 30px;    
    background-size: cover;
}
.particle {
    position: fixed;   
    width: 3px;
    height: 3px;  
}